@using Bilet1.Models
@model List<Member>
@{
    int count = 0;
}
 <div class="card">
        <div class="card-body">
            <h4 class="card-title">Striped Table</h4>
            <a  asp-controller="member" asp-action="create" class="btn btn-danger">Add Member</a>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                No
                            </th>
                            <th>
                                Image
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Job
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach(Member member in Model)
                    {
                        count++;
                        <tr>
                            <td class="py-1">
                                @count
                            </td>
                            <td>
                                <img src="../../Admin/images/faces/@member.Image" alt="image" />
                            </td>
                            <td>
                            @member.Name
                            </td>
                            <td>
                               @member.Job
                            </td>
                            <td>
                                <a class="btn btn-warning">Update</a>
                                <a class="btn btn-danger">Delete</a>
                                <a class="btn btn-primary">Detail</a>
                            </td>
                        </tr>
                    }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>